<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB3iKITZkrVDHfZnceJ9oQLg-iltr088MA</string>
	<key>GCM_SENDER_ID</key>
	<string>449689708862</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterTestSerise</string>
	<key>PROJECT_ID</key>
	<string>createfirebase-2e44e</string>
	<key>STORAGE_BUCKET</key>
	<string>createfirebase-2e44e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:449689708862:ios:120e0d8993b74d1625e46f</string>
	<key>DATABASE_URL</key>
	<string>https://createfirebase-2e44e-default-rtdb.firebaseio.com</string>
</dict>
</plist>